.banner-slides-inner-wrapper {
    position: relative;
    .owl-stage-outer {
        overflow: hidden;

        .owl-stage {
            display: flex;

            .banner-img-item {
                min-height: 376px;
                @media(max-width: 1440px) {
                    min-height: 276px;
                }
                @media(max-width: 1024px) {
                    min-height: 150px;
                }
                @media(max-width: 660px) {
                    min-height: 110px;
                }
                @media(max-width: 375px) {
                    min-height: 75px;
                }
                img {
                    display: block;
                    width: auto;
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }

    .owl-nav {
        display: none;
    }

    .owl-dots {
        position: absolute;
        bottom: 0;
        left: 50%;
        // position: absolute;
        /* margin-left: auto; */
        /* margin-right: auto; */
        // left: 50%;
        /* right: 0; */
        transform: translate(-50%, -50%);

        @media(max-width: 1024px) {
            transform: translate(-50%, 0%);
        }
        
        @media(max-width: 660px) {
            transform: translate(-50%, 0%);
        }
        .owl-dot {
            background-color: transparent;
            border: 0;
            outline: none;
        }
    }

}



