main {
    padding: 16px 0;
    background-color: #F2F6F7;  
    section {
        margin-bottom: 24px;
        
        &:last-child {
            margin-bottom: 0;
        }

    }

    .main-section-title {
        // font-size: 16px;
        h2 {
            text-transform: uppercase;
            @media(max-width: 1024px) {
                font-size: 1.35rem;
            }
            @media(max-width: 660px) {
                font-size: 1.25rem;
            }
            &:after {
                content: "";
                border-bottom: 4px solid #FA6A35;
                display: block;
                width: 50px;
                border-radius: 10px;
            }
        }
        margin-bottom: 12.5px;
    }

    .owl-stage {
        display: flex;
    }
    .owl-stage-outer {
        overflow: hidden;
    }
    .owl-nav {
        display: none;
    }
    .product-card-container {
        background-color: #fff;
        .product-img-container {
            img {
                display: block;
                width: 100%;
            }
        }
    }
    .product-info-container {
        padding: 8px;
    }
    .product-cards-carousel, .product-cards-more-to-love {
        .product-prices {
            display: flex;

            .discount-price {
                margin-right: 12px;
                color: #BB2704;

                span {
                    font-weight: bold;
                    font-size: 15px;
                }
            }

            .old-price {
                color: #C8C8C8;
                
                span {
                    text-decoration: line-through;

                }
            }
   
        }

        .product-title {
                
            span {
                font-size: 14px;
            }
            
        }

        .product-reviews-container {
            .product-stars {
                i {
                    color: #FFC200;
                }
            }
            .product-total-reviews {
                font-size: 13px;
            }
        }
    }
    
    
    
    .carousel-container {
        position: relative;

        .custom-prev-btn{
            
            background-color: rgba(255, 255, 255, 0.6);
            // opacity: 0.7;
            position: absolute;
            top: 20%;
            left: 0;
            height: 80px;
            width: 35px;
            /* text-align: center; */
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;

            @media(max-width: 1024px) {
                background-color: #F2F6F7;
                top: 0;
                bottom: 0;
                height: unset;
                display: none;
            }
            i {
                font-size: 30px;
                @media(max-width: 660px) {
                    font-size: 20px;
                    color: #fa6a35;
                }
            }

        }
        .custom-next-btn {
            background-color: rgba(255, 255, 255, 0.6);
            position: absolute;
            top: 20%;
            right: 0;
            height: 80px;
            width: 35px;
            /* text-align: center; */
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;

            @media(max-width: 1024px) {
                background-color: #F2F6F7;
                top: 0;
                bottom: 0;
                height: unset;
                // display: none;
            }

            i {
                font-size: 30px;
                @media(max-width: 1024px) {
                    font-size: 20px;
                    color: #fa6a35;
                }
            }
        }    
    }

    .product-cards-more-to-love {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .product-card-container {
            margin-right: 16px;
            margin-bottom: 16px;
            width: calc((100% / 5) - 16px) ;
            @media(max-width: 1024px) {
                width: calc((100% / 3) - 16px) ;
            }
            @media(max-width: 660px) {
                width: calc((100% / 2) - 16px) ;
                &:nth-child(even) {
                    margin-right: 0;
                }
            }
        }
        
    }

    .discover-more-btn {
        text-transform: uppercase;
        color: #fff;
        background-color: #FA6A35;
        font-size: 22px;
        font-weight: bold;
        border-radius: 5px;
        padding: 8px 24px;
        margin-top: 16px;
        // display: inline-block;
        width: max-content;
        margin: 16px auto 0;
    }
    
}