nav#navbar {
    background-color: #006DA5;
    @media(max-width: 1024px) {
        padding: 0 16px;
    }
    .navbar-inner-wrapper {
        display: flex;
        justify-content: center;
        @media(max-width: 1024px) {
            display: none;
        }
    }
    
    .navbar-inner-wrapper > li {
        list-style: none;
        margin-right: 8px;
        
    }
    
    .navbar-inner-wrapper > li > a {
        padding: 4px 8px;
        color: #fff;
    }
    
    .navbar-inner-wrapper > li > a:hover {
        background-color: #fff;
        color: #000;
        border-radius: 15px;
    }

    #search-container-mobile {
        display: none;
        @media(max-width: 1024px) {
            border-radius: 3px;
            display: flex;
            background-color: #fff;
            overflow: hidden;
            // padding: 0 8px;
            .search-input-wrapper {
                flex: 1;

                input {
                    border: none;
                    display: block;
                    width: 100%;
                    height: 100%;
                    padding: 0 8px 0px;
                    font-size: 1.2rem;

                    &::placeholder {
                        color: #090909;
                        font-size: 0.75rem;
                    }
                }
            }
            .btn {
                padding: 8px 10px;
                
            }
            .btn-primary {
                color: #000;

                i {
                    font-size: 20px;
                }
            }
        }
        
        
    }
}

