header {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;

    #top-header {
        .btn-primary > span > i {
            font-size: 25px;
        }
        
        .top-header-inner-wrapper {
            padding: 1rem 0.5rem;
            display: flex;
            justify-content: space-between;
            height: 75px;
            align-items: center;
            @media(max-width: 768px) {
                // padding: 0.75rem 0.5rem;
                height: 55px;
            }
            .col-1 {
                display: flex;
                align-items: center;
            }

            .col-2 {
                width: 60%;
                min-width: 55%;

                @media(max-width: 1024px) {
                    display: none;
                }
            }
        }
        .burger-icon-container {
            padding: 4px 0;
            cursor: pointer;
        }
        .burger-icon > i {
            font-size: 34px;
            @media(max-width: 1024px) {
                font-size: 28px;
            }
        }

        #logo-container > a {
            display: block;
            max-width: 150px;
            // min-width: 125px;

            @media(max-width: 1024px) {
                max-width: 125px;
            }
        }
        .logo {
            display: block;
            width: 100%;
        }
        
    
        #search-container-desktop {
            border: 3px solid #FF6801;
            border-radius: 7px;
            display: flex;
            background-color: #FF6801;
            overflow: hidden;
            // width: 60%;
            // min-width: 55%;

            @media(max-width: 1024px) {
                display: none;
            }
        }

        
    
        .search-input-wrapper {
            flex: 1;
        }
    
        .search-input-wrapper > input {
            border: none;
            display: block;
            width: 100%;
            height: 100%;
            padding: 5px 25px 2.5px;
            font-size: 1.2rem
        }
    
        .search-input-wrapper > input::placeholder {
            color: #090909;
            font-size: 1.2rem
        }
    
        #top-header-links-wrapper {
            display: flex;
        }
    
        #top-header-links-wrapper > a {
            
            margin-left: 16px;
            display: block;
            width: 35px;
            height: 35px;
            background-size: contain;

            @media(max-width: 768px) {
                width: 30px;
                height: 30px;
            }
        }
    
        .user-icon-container {
            background: url("../images/icons/user.svg") no-repeat center;
        }
    
        .contact-icon-container {
            background: url("../images/icons/contact-us.svg") no-repeat center;
        }
    
        .cart-icon-container {
            background: url("../images/icons/cart.svg") no-repeat center;
        }
    }
    
}

