main {
  padding: 16px 0;
  background-color: #F2F6F7;
}
main section {
  margin-bottom: 24px;
}
main section:last-child {
  margin-bottom: 0;
}
main .main-section-title {
  margin-bottom: 12.5px;
}
main .main-section-title h2 {
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  main .main-section-title h2 {
    font-size: 1.35rem;
  }
}
@media (max-width: 660px) {
  main .main-section-title h2 {
    font-size: 1.25rem;
  }
}
main .main-section-title h2:after {
  content: "";
  border-bottom: 4px solid #FA6A35;
  display: block;
  width: 50px;
  border-radius: 10px;
}
main .owl-stage {
  display: flex;
}
main .owl-stage-outer {
  overflow: hidden;
}
main .owl-nav {
  display: none;
}
main .product-card-container {
  background-color: #fff;
}
main .product-card-container .product-img-container img {
  display: block;
  width: 100%;
}
main .product-info-container {
  padding: 8px;
}
main .product-cards-carousel .product-prices, main .product-cards-more-to-love .product-prices {
  display: flex;
}
main .product-cards-carousel .product-prices .discount-price, main .product-cards-more-to-love .product-prices .discount-price {
  margin-right: 12px;
  color: #BB2704;
}
main .product-cards-carousel .product-prices .discount-price span, main .product-cards-more-to-love .product-prices .discount-price span {
  font-weight: bold;
  font-size: 15px;
}
main .product-cards-carousel .product-prices .old-price, main .product-cards-more-to-love .product-prices .old-price {
  color: #C8C8C8;
}
main .product-cards-carousel .product-prices .old-price span, main .product-cards-more-to-love .product-prices .old-price span {
  text-decoration: line-through;
}
main .product-cards-carousel .product-title span, main .product-cards-more-to-love .product-title span {
  font-size: 14px;
}
main .product-cards-carousel .product-reviews-container .product-stars i, main .product-cards-more-to-love .product-reviews-container .product-stars i {
  color: #FFC200;
}
main .product-cards-carousel .product-reviews-container .product-total-reviews, main .product-cards-more-to-love .product-reviews-container .product-total-reviews {
  font-size: 13px;
}
main .carousel-container {
  position: relative;
}
main .carousel-container .custom-prev-btn {
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 20%;
  left: 0;
  height: 80px;
  width: 35px;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
@media (max-width: 1024px) {
  main .carousel-container .custom-prev-btn {
    background-color: #F2F6F7;
    top: 0;
    bottom: 0;
    height: unset;
    display: none;
  }
}
main .carousel-container .custom-prev-btn i {
  font-size: 30px;
}
@media (max-width: 660px) {
  main .carousel-container .custom-prev-btn i {
    font-size: 20px;
    color: #fa6a35;
  }
}
main .carousel-container .custom-next-btn {
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 20%;
  right: 0;
  height: 80px;
  width: 35px;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
@media (max-width: 1024px) {
  main .carousel-container .custom-next-btn {
    background-color: #F2F6F7;
    top: 0;
    bottom: 0;
    height: unset;
  }
}
main .carousel-container .custom-next-btn i {
  font-size: 30px;
}
@media (max-width: 1024px) {
  main .carousel-container .custom-next-btn i {
    font-size: 20px;
    color: #fa6a35;
  }
}
main .product-cards-more-to-love {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .product-cards-more-to-love .product-card-container {
  margin-right: 16px;
  margin-bottom: 16px;
  width: calc((100% / 5) - 16px);
}
@media (max-width: 1024px) {
  main .product-cards-more-to-love .product-card-container {
    width: calc((100% / 3) - 16px);
  }
}
@media (max-width: 660px) {
  main .product-cards-more-to-love .product-card-container {
    width: calc((100% / 2) - 16px);
  }
  main .product-cards-more-to-love .product-card-container:nth-child(even) {
    margin-right: 0;
  }
}
main .discover-more-btn {
  text-transform: uppercase;
  color: #fff;
  background-color: #FA6A35;
  font-size: 22px;
  font-weight: bold;
  border-radius: 5px;
  padding: 8px 24px;
  margin-top: 16px;
  width: max-content;
  margin: 16px auto 0;
}

/*# sourceMappingURL=index-main-section.css.map */
